<h1>{{title}}</h1>


<div class="ui">

    <div class="pokedex">

    
        <div class="wrap">

            <div class="sort">
                Sort by type:
                <select name="typesort" [(ngModel)]="selected_type" (ngModelChange)="sort_types()">
                    <option value="none">None</option>
                    <option *ngFor="let v of poke_service.getTypes()" (value)="v">{{v}}</option>
                </select>
            </div>
            
            <div class="pokemons">
            
                <div *ngFor="let p of pokemons">
                    <app-pokemon [url]="p.url" (send_pokemon)="open_pokemon($event)"></app-pokemon>
                </div>
    
            </div>
            
            <button (click)="loadMore()" type="button">Load more</button>

        </div>
        
    
        <app-selected *ngFor="let selectet of pokemon" [url]="selectet" (close)="pokemon.shift()"></app-selected>
    
    </div>


</div>



